@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    border-bottom: none;
    color: @on_surface;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.9;
}

tooltip {
    background: @surface;
    border: 1px solid @outline;
}

tooltip label {
    color: @on_surface;
}

/* Modules Left */

/* Modules Left */

#custom-appmenu {
    color: @primary;
    padding: 0 15px;
    margin: 5px 5px 5px 15px;
    border-radius: 20px;
    font-weight: bold;
}

#workspaces {
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @on_surface_variant;
    border-radius: 20px;
}

#workspaces button:hover {
    background-color: @surface_variant;
}

#workspaces button.active {
    background-color: @surface_variant;
    color: @primary;
    box-shadow: none;
    text-shadow: none;
    border-bottom: none;
}

/* Modules Center */

#window {
    background-color: @surface_container;
    color: @on_surface;
    padding: 0 15px;
    margin: 5px;
    border-radius: 20px;
}

/* Modules Right */

/* Sober Style */
.modules-right>* {
    margin: 5px 30px;
    padding: 0 20px;
    background-color: @surface_container;
    border-radius: 20px;
}

.modules-right>*:last-child {
    margin-right: 40px;
}

#pulseaudio {
    padding: 0 20px;
    color: @primary;
}

#custom-system {
    color: @tertiary;
    font-size: 16px;
    padding: 0 25px;
}


#custom-exit {

    color: @error;
    padding: 0 20px;
    margin: 5px;
}

#custom-notification {
    padding: 0 20px;
    color: @secondary;
}

#clock {
    padding: 0 20px;
    color: @tertiary;
    font-weight: bold;
}

#battery {
    padding: 0 20px;
    color: @on_surface;
    margin: 5px;
}

#battery.charging {
    color: @primary;
}

#battery.warning:not(.charging) {
    color: @error;
}

#battery.critical:not(.charging) {
    color: @error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @error;
    }
}